.logo img {
  height: 40px;
}
nav {
  padding: 16px;
}
button img {
  height: 16px;
}
.btn-template-color {
  background: #ae4a84;
  border: solid 1px #ae4a84;
}
ul.nav.navbar-nav li.sell {
  margin: 0 !important;
  padding: 0 !important;
  display: inline-block !important;
}

li.sell {
  border-radius: 2px;
  border: none;
  height: 34px;
  background: #ae4a84;
}
.sell a {
  margin: 0 !important;
  height: 40px;
  align-items: center; /*Vertical align*/
  top: -8px;
  color: #fff;
}
.banner-inner {
  background: #eee;
  height: 360px;
  margin: 40px 0;
}
a.list-group-item {
  border: none;
  background: #eee;
}

a.list-group-item.active {
  background-color: #ae4a84;
  border-color: #de63aa;
  color: #fff;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:focus .list-group-item-text,
.list-group-item.active:hover .list-group-item-text {
  color: #fff;
}
a.list-group-item:hover,
a.list-group-item:focus,
a.list-group-item:active {
  background: #ddd !important;
}
.card {
  box-shadow: 1px 1px 14px 0px rgba(46, 61, 73, 0.18);
  border-radius: 6px;
  transition: all 0.3s ease;
  background: #eee;
  width: 90%;
  margin: 20px 0;
}

.product-image {
  height: 160px;
}
.product-description {
  background: #fff;
  height: 64px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.card:hover {
  box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.18);
}
