.logo img {
  height: 40px;
}
nav {
  padding: 16px;
}
button img {
  height: 16px;
}
.btn-template-color {
  background: #ae4a84;
  border: solid 1px #ae4a84;
}
ul.nav.navbar-nav li.sell {
  margin: 0 !important;
  padding: 0 !important;
  display: inline-block !important;
}

li.sell {
  border-radius: 2px;
  border: none;
  height: 34px;
  background: #ae4a84;
}
.sell a {
  margin: 0 !important;
  height: 40px;
  align-items: center; /*Vertical align*/
  top: -8px;
  color: #fff;
}
.banner-inner {
  background: #eee;
  height: 360px;
  margin: 40px 0;
}
a.list-group-item {
  border: none;
  background: #eee;
}

a.list-group-item.active {
  background-color: #ae4a84;
  border-color: #de63aa;
  color: #fff;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:focus .list-group-item-text,
.list-group-item.active:hover .list-group-item-text {
  color: #fff;
}
a.list-group-item:hover,
a.list-group-item:focus,
a.list-group-item:active {
  background: #ddd !important;
}
.card {
  box-shadow: 1px 1px 14px 0px rgba(46, 61, 73, 0.18);
  border-radius: 6px;
  transition: all 0.3s ease;
  background: #eee;
  width: 90%;
  margin: 20px 0;
}

.product-image {
  height: 160px;
}
.product-description {
  background: #fff;
  height: 64px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.card:hover {
  box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.18);
}
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
}
li.sell:hover,
li.sell:active,
li.sell:focus {
  background: #944071;
}
.btn-default.btn-template-color:hover {
  background-color: #944071;
  border-color: #944071;
}
.form-area {
  background: #fff;
  width: 80%;
  border-radius: 6px;
  border: #ece5e5 1px solid;
  display: inline-block;
  padding: 40px;
  /* margin-top: 80px; */
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: tan;
}

.form-area label {
  text-align: left;
  display: block;
  font-size: 14px;
  margin-top: 8px;
  color: #777;
}

.form-area input {
  font-size: 16px;
  padding: 6px 12px;
  width: 100%;
  margin-bottom: 16px;
  color: #676767;
  border-radius: 4px;
  border: 1px solid #f9f9f9;
  background: #f9f9f9;
}
.form-input {
  text-align: left;
}

.btn-form {
  font-size: 14px;
  padding: 8px 16px;
  color: #fff;
  border-radius: 3px;
}
.btn-form:hover {
  background: #944071;
}
small.legal-info {
  display: block;
  margin-top: 8px;
  color: #676767;
}

a {
  color: #ae4a84;
}

a:hover {
  text-decoration: none;
  color: #944071;
}
.form-user-events {
  padding: 0;
}
.absolute-container {
  height: calc(100vh - 64px);
}
button.btn-template-color-inverse {
  border: none;
  color: #ae4a84;
  font-size: 16px;
}

button.btn-template-color-inverse:hover {
  background: #ae4a843b;
}
.main.alt {
  background: #f9f9f9;
}
.form-area h3 {
  text-align: left;
  margin: 4px 0;
  padding: 6px 12px;
  color: #555;
}
